<html>
   <head>
      <title>Simple Snap Example</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS only -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <!-- <link rel="stylesheet" href="/static/checkout.css"> -->
      <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="<%= clientKey %>"></script>
   </head>
   <body>
      <input type='hidden' id='snap_token' value="<%= token %>"/>
          <div class="container" style = "margin:0 auto">
            <table class="table" style="width: 80%; margin:0">
              <thead>
                <tr>
                  <th colspan="2">
                      Detail Pesanan
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style = "text-align: right;">Id Order : </td>
                  <td><%= data.id_order %></td>
                </tr>
                <tr>
                  <td style = "text-align: right;">Tanggal Pemesanan : </td>
                  <td><%= data.tanggal_pemesanan %></td>
                </tr>
                <tr>
                  <td style = "text-align: right;">Tanggal Keberangkatan : </td>
                  <td><%= data.tanggal_keberangkatan %></td>
                </tr>
                <tr>
                  <td style = "text-align: right;">Tempat Asal : </td>
                  <td><%= data.kota_asal %></td>
                </tr>
                <tr>
                  <td style = "text-align: right;">Tempat Tujuan : </td>
                  <td><%= data.kota_tujuan %></td>
                </tr>
                <tr>
                  <td class = "font-weight-bold" colspan="2">Penumpang</td>
                </tr>
                  <%
                    for (let i = 0 ; i < data.detail.length ; i++)
                    {
                    %>
                    <tr>
                      <td style = "text-align: right;"><%= data.detail[i].gelar %>.<%= data.detail[i].nama %></td>
                      <td><%= data.detail[i].keterangan %></td>
                    </tr>
                    <%
                    }
                 %>
                <tr>
                  <td style = "text-align: right;">Total : </td>
                  <td class = "font-weight-bold"><%= data.total %></td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-sm">
                <button class='checkout-button btn btn-success' onclick = "bayar();">Checkout</button>
              </div>
            </div>
          </div>   
    <script>
      function bayar(){
        console.log('opening snap popup:');
        var token = document.querySelectorAll('#snap_token')[0].value;
        // Open Snap popup with defined callbacks.
        snap.pay(token, {
          onSuccess: function(result) {
            console.log("SUCCESS", result);
            alert("Payment accepted \r\n"+JSON.stringify(result));
          },
          onPending: function(result) {
            console.log("Payment pending", result);
            alert("Payment pending \r\n"+JSON.stringify(result));
          },
          onError: function() {
            console.log("Payment error");
          }
        });
        // For more advanced use, refer to: https://snap-docs.midtrans.com/#snap-js

      }
    </script>
   </body>
</html>
